In [1]:
import pandas as pd
import csv
import zipfile

In [2]:
dF = pd.read_excel("http://denver.bcycle.com/docs/librariesprovider34/default-document-library/annual-reports/denverbcycletripdata_2017_public.xlsx")

In [3]:
# rename columns to make them more descriptive and replace spaces with special characters with underscores
new_colnames = ['User_Program', 'User_ID', 'Membership_Type', 'Bike_Number', 'Checkout_Date', 'Checkout_Time',
                'Checkout_Kiosk', 'Checkout_Method', 'Return_Date', 'Return_Time', 'Return_Kiosk', 'Trip_Duration']
dF.columns = new_colnames

In [4]:
dF[['Bike_Number']] = dF[['Bike_Number']].astype(object)

In [5]:
dF.shape

(344256, 12)

In [6]:
dF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344256 entries, 0 to 344255
Data columns (total 12 columns):
User_Program       344256 non-null object
User_ID            344256 non-null int64
Membership_Type    344256 non-null object
Bike_Number        344256 non-null object
Checkout_Date      344256 non-null datetime64[ns]
Checkout_Time      344256 non-null object
Checkout_Kiosk     344256 non-null object
Checkout_Method    344256 non-null object
Return_Date        344256 non-null datetime64[ns]
Return_Time        344256 non-null object
Return_Kiosk       344256 non-null object
Trip_Duration      344256 non-null int64
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 31.5+ MB

In [7]:
dF.to_csv("data/Denver_2017_Bike_Share_Trip_Data.gz", index=False, compression="gzip")

In [8]:
dK = pd.read_excel("http://denver.bcycle.com/docs/librariesprovider34/default-document-library/annual-reports/2018-kiosks-info.xlsx")

In [9]:
dK.columns.values[0]

'\xa0 Kiosk Name'

In [10]:
dK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
Â  Kiosk Name    90 non-null object
Address         90 non-null object
Longitude       90 non-null float64
Latitude        90 non-null float64
Total Docks     90 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.6+ KB

In [11]:
dK.rename(columns = {'\xa0 Kiosk Name': 'Checkout_Kiosk'}, inplace = True)

In [12]:
dK.drop(['Address', 'Total Docks'], axis = 1, inplace = True)

In [13]:
dK = dK[['Checkout_Kiosk', 'Latitude', 'Longitude']]

In [14]:
dK['Return_Kiosk'] = dK['Checkout_Kiosk']

In [15]:
dK['Return_Kiosk_Latitude'] = dK['Latitude']

In [16]:
dK['Return_Kiosk_Longitude'] = dK['Longitude']

In [17]:
# rename columns to make them more descriptive and replace spaces with special characters with underscores
dK.rename(columns = {'Latitude': 'Checkout_Kiosk_Latitude',
                     'Longitude': 'Checkout_Kiosk_Longitude'}, inplace = True)

In [18]:
dK.head()

,Checkout_Kiosk,Checkout_Kiosk_Latitude,Checkout_Kiosk_Longitude,Return_Kiosk,Return_Kiosk_Latitude,Return_Kiosk_Longitude
0,10th & Osage,39.73205,-105.00511,10th & Osage,39.73205,-105.00511
1,11th & Broadway,39.73395,-104.98772,11th & Broadway,39.73395,-104.98772
2,11th & Delaware,39.73372,-104.99302,11th & Delaware,39.73372,-104.99302
3,11th & Emerson,39.73361,-104.97629,11th & Emerson,39.73361,-104.97629
4,11th & Ogden,39.73361,-104.97554,11th & Ogden,39.73361,-104.97554

In [20]:
dK.to_csv("data/Denver_2017_Bike_Share_Kiosks_Info.gz", index=False, compression="gzip")